<main class="d-flex justify-content-center align-items-center flex-wrap">
  <div class="a-box">
    <app-alert (hide)="goToTop($event)" [hidden]="alertNotify"></app-alert>
  </div>
  <div
    class="w-100 d-flex flex-wrap justify-content-center"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="1000"
    [infiniteScrollDisabled]="disabler"
    (scrolled)="onScroll()"
  >
    <div class="d-flex flex-wrap justify-content-center flex-row-reverse">
      <app-post-view-unauthorized *ngFor="let post of newPosts" [post]="post"></app-post-view-unauthorized>
    </div>
    <app-post-view-unauthorized *ngFor="let post of posts" [post]="post"></app-post-view-unauthorized>
  </div>
  <div class="row pb-2">
    <div class="col-md-12 p-5">
      <ngx-spinner
        name="load-more-spinner-home"
        bdColor="rgba(253, 253, 253, 0)"
        size="default"
        color="black"
        type="ball-elastic-dots"
        [fullScreen]="false"
      >
      </ngx-spinner>
    </div>
  </div>
</main>
