<nav ngbNav (activeIdChange)="sendType($event)" #nav="ngbNav" class="nav-pills justify-content-center" >
  <ng-container ngbNavItem domId="subscriptions" destroyOnHide="true" >
    <a ngbNavLink>Subscriptions</a>
    <ng-template ngbNavContent>
      <div class="inner-div scrollbar">
        <app-user-subscriptions-info-box (userId)="sendUserId($event)" [user]="user" *ngFor="let user of subscriptions"></app-user-subscriptions-info-box>
      </div>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem domId="subscribers" destroyOnHide="true">
    <a ngbNavLink>Subscribers</a>
    <ng-template ngbNavContent>
      <div class="inner-div scrollbar">
        <app-user-subscribers-info-box [user]="user" *ngFor="let user of subscribers"></app-user-subscribers-info-box>
      </div>
    </ng-template>
  </ng-container>
</nav>

<div [ngbNavOutlet]="nav"></div>
