main {
  margin-top: 80px;
  margin-bottom: 10px;
   .post-container {
     max-width: 500px;
     margin: 0 20px;
   }

  .post-info-container {
    width: 400px;
    padding: 5px;

    .map {
      padding: 5px;
      width: 100%;
      border: 1px rgba(33, 33, 33, 0.78) solid;
      border-radius: 10px;
    }

    .description {
      min-height: 40px;
      font-size: 1.1em;
      font-weight: bold;
      margin-bottom: 10px;
      background-color: rgba(238, 238, 238, 0.24);
      border-radius: 20px;
      padding: 5px;
    }
  }
}
