<main class="d-flex flex-wrap justify-content-center">
  <div class="post-container">
    <app-post-view [post]="post"></app-post-view>
  </div>
  <div class="post-info-container">
    <div *ngIf="post.location.formatted_address_short" class="map">
      <google-map height="230px" width="100%" [center]="center">
        <map-marker [options]="markerOptions" [position]="center"></map-marker>
      </google-map>
    </div>
    <div>
      <div class="description">
        <span>{{post.description}}</span>
      </div>
    </div>
    <app-comment-box [postId]="post.postId" [userInfo]="loggedUser"></app-comment-box>
  </div>
</main>
