<nav class="w-auto d-flex align-items-center">
  <div class="d-flex justify-content-center align-items-center flex-grow-1">
    <a class="text-white logo font-weight-bolder" routerLink="/home" routerLinkActive="active">9GRAM</a>
  </div>
  <div class="links">
    <ul class="d-flex justify-content-end align-items-center">
      <li *ngIf="loggedUser">
        <div class="input d-flex align-items-center bg-white">
          <input type="text" [(ngModel)]="value" (focusout)="nullify()" (input)="search(value)" placeholder="Search">
          <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
               xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                  clip-rule="evenodd"/>
            <path fill-rule="evenodd"
                  d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                  clip-rule="evenodd"/>
          </svg>
        </div>
        <div class="users-search-result position-absolute">
          <div class="scrollbar">
            <p class="text-center font-weight-bolder" *ngIf="(userList$ | async)?.length === 0 && value.length >= 1"
               style="color: #0c0c0c">Results not found</p>
            <app-users-search-results [user]="user" *ngFor="let user of userList$ | async"></app-users-search-results>
          </div>
        </div>
      </li>
      <li *ngIf="!loggedUser">
        <a routerLink="/home">Home</a>
      </li>
      <li *ngIf="!loggedUser">
        <a routerLink="/login">Sigh in</a>
      </li>
      <li *ngIf="loggedUser">
        <img class="rounded-circle" [routerLink]="['users/profile', this.loggedUser.userId]"
             style="outline: none"
             [src]="loggedUser.userAvatarUrl"
             alt="avatar">
      </li>
      <li (mouseover)="preloadBundle('admin-panel')" *ngIf="loggedUser?.roles.includes('Admin')">
        <a routerLink="/admin-panel" class="d-flex align-items-center">
          <i class="material-icons" style="font-size: 34px">
            admin_panel_settings
          </i>
        </a>
      </li>
      <li *ngIf="loggedUser">
        <a class="d-flex align-items-center" [routerLink]="['users', this.loggedUser.userName, 'news_feed']">
          <i class="material-icons" style="font-size: 26px">
            fiber_new
          </i>
        </a>
      </li>
      <li *ngIf="loggedUser">
        <app-notifications class="position-relative" [userInfo]="loggedUser"></app-notifications>
      </li>
      <li *ngIf="!loggedUser">
        <a routerLink="/register">Register</a>
      </li>
      <li *ngIf="loggedUser">
        <a (click)="signOut()" class="d-flex align-items-center">
          <i class="material-icons">
            exit_to_app
          </i>
        </a>
      </li>
      <li *ngIf="loggedUser">
        <button class="upload-btn d-flex justify-content-center text-white text-center align-items-center"
                (click)="open()"><span class="material-icons">add</span>Upload
        </button>
      </li>
    </ul>
  </div>
</nav>
