nav {
  height: 50px;
  background-color: var(--primary);
  border-bottom: solid #afafaf;
  border-bottom-width: 2px;
  padding: 0 180px;
}

.upload-btn {
  background-color: #09f;
  border: 1px solid #09f;
  border-radius: 3px;
  font: 700 13px/20px Helvetica Neue, Arial, Helvetica, Geneva, sans-serif;
  outline: none;
}

.upload-btn:hover {
  background-color: #08d;
  border-color: #08d;
}

.logo {
  font-size: 1.6em;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}


.links {
  flex-grow: 10;

  ul {
    margin: 0;
    li {
      cursor: pointer;
      display: flex;
      align-items: center;
      list-style-type: none;
      margin: 10px;

      .users-search-result {
        box-shadow: 0 5px 15px rgba(0.5, 0.5, 0.5, 0.4);
        background-color: white;
        width: 250px;
        top: 50px;
        border-radius: 2%;

        div {
          overflow: auto;
          max-height: 200px;
        }
      }

      img {
        width: 40px;
        height: 40px;
        border: darkblue solid;
        margin: 2px;
      }

      a {
        font-size: 0.9em;
        text-decoration: none;
        color: white;
      }

      a:hover {
        color: rgba(107, 107, 107, 0.92);
      }
    }
  }
}


.input {
  width: 250px;
  padding: 4px;
  border-radius: 10px;

  input {
    width: 90%;
    border: 0;
    vertical-align: center;
    outline: none;
  }

  svg {
    color: black;
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 968px) {
  nav {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .links {
    text-align: center;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
