<article class="d-flex flex-column">
  <section class="top-part d-flex justify-content-start">
    <div class="mr-2 d-flex justify-content-center align-items-center">
      <img class="rounded-circle"
           [src]="user.userAvatarUrl"
           alt="avatar">
    </div>
    <div class="d-flex flex-column justify-content-center">
      <p><span [routerLink]="['/users/profile', post.postedBy.userId]" class="username">{{user.userName}}</span></p>
      <p class="publish-data font-weight-lighter align-middle position-relative">Published: {{post.createdOn | amTimeAgo}}
        / {{post.location.formatted_address_short}}
        <i *ngIf="post.location.formatted_address_long" class="material-icons ml-1 text-dark">
          my_location
        </i>
        <span *ngIf="post.location.formatted_address_long" class="tooltiptext scrollbar">{{post.location.formatted_address_long}}</span>
      </p>
    </div>
  </section>
  <section (mouseover)="preloadBundle('posts')" class="post-img-part">
    <a class="text-decoration-none" target="_blank" [routerLink]="['/posts/', post.postId]"><h4>{{post.title}}</h4></a>
    <div class="w-100 text-center">
      <img class="w-100 h-auto"
           [src]="post.photoUrl"
           alt="post">
    </div>
  </section>
  <section class="bottom-part">
    <p class="font-weight-lighter"><span>{{post.likes}} likes</span>/ <span class="pointer-type1">{{post.commentsCount}}
      comments</span></p>
    <div class="button-container d-flex justify-content-around align-items-center">
      <button [ngClass]="{'liked': post.isLiked}" (click)="like_unlike_Post()" class="btn">
        <i class="material-icons ">
          thumb_up
        </i>
        <span href=""> Like</span>
      </button>
      <button class="btn">
        <i class="material-icons">
          details
        </i>
        <a target="_blank" (mouseover)="preloadBundle('posts')" [routerLink]="['/posts/', post.postId]">Details</a>
      </button>
    </div>
  </section>
</article>
