article {
  backdrop-filter: blur(1px);
  .top-part {
    margin: 12px 0 22px 10px;

    img {
      height: 50px;
      width: 50px;
    }

    p {
      margin: 0;
      i {
        font-size: 1em;
      }
    }

    .username {
      font-family: "Comic Sans MS", "Comic Sans", cursive;
      font-size: 1.2em;
      font-weight: 900;
      color: #3143a9;
      outline: none;
      cursor: pointer;
    }

    .publish-data {
      cursor: pointer;
      font-size: 0.8em;
      font-family: 'Roboto', sans-serif;
      color: grey;
    }
  }

  .post-img-part {
    h4 {
      word-wrap: break-word;
    }
  }

  .bottom-part {
    p {
      margin: 0 0 8px 15px;
      font-size: 0.9em;
    }

    margin: 4px 2px 10px;

    .button-container {
      border-top: #a2a2a2 1.5px solid;
      border-bottom: #a2a2a2 1.5px solid;
      border-radius: 7px;
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 0 0;
        span {
          padding-left: 4px;
          font-family: "Comic Sans MS", "Comic Sans", cursive;
        }
      }

      button:hover {
        transform: scale(1.1) rotate(3deg);
        color: rgba(0, 0, 255, 0.64);
      }
    }
  }
}

