<div class="a-font user-box-info">
  <section class="img-section">
    <img
      [src]="user.userAvatarUrl"
      alt="avatar">
  </section>
  <section class="user-info">
    <p class="username text-truncate">{{user.userName}}</p>
    <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to={{user.email}}@gmail.com" target="_blank"
       class="email text-truncate badge badge-light">{{user.email}}</a>
  </section>
  <section class="button-section">
    <button [routerLink]="['/users/profile', user.userId]"
            class="connection-action-btn btn custom-button d-flex justify-content-center align-items-center">
      <i class="material-icons">
        person_search
      </i>
    </button>
  </section>
</div>
