main {
  margin: 60px 10px 10px 10px;

  .top-part {
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .send-form {
      flex-grow: 15;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;

      button {
        margin-top: 16px;
      }

      .send-container {
        position: relative;
        top: 16px;
        width: 310px;
      }
    }

    .counter {
      flex-grow: 1;
      background-color: rgba(224, 224, 224, 0.41);
      border-radius: 20%;
      max-width: 250px;

      &:hover {
        background-color: rgba(241, 241, 241, 0.5);
      }

      p {
        margin: 0;
        color: black;
        font-weight: bolder;
        font-size: 16px;
        font-style: italic;
      }

      span {
        color: black;
        font-weight: bold;
        font-size: 18px;
        font-style: italic;
      }

      i {
        font-size: 46px;
      }
    }
  }

  .bottom-part {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
    margin-bottom: 10px;

    div {
      margin-top: 20px;
      padding: 0 4px;
      box-shadow: 0 0 20px rgba(83, 83, 83, 0.41);
      background-color: rgba(237, 237, 237, 0.41);
      height: 500px;
      min-width: 320px;
      width: 45%;
      border: solid #202020 1.5px;
      border-radius: 10px;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      app-user-subscriptions-info-box {
        margin: 0 3px;
        padding: 3px;
        height: 70px;
        min-width: 190px;
        width: 290px;
        border-top: 1px grey solid;
        border-radius: 15px;

        &:hover {
          background-color: #e5e5e5;
        }
      }
    }
  }
}

@media only all and (max-width: 600px) {
  .top-part {
    margin-bottom: 35px;
  }
}
