<main class="d-flex flex-column">
  <section class="top-part">
    <div class="send-form">
      <form [formGroup]="this.globalMsgForm">
        <div>
          <div class="form-group send-container">
            <input
              formControlName="msg"
              class="form-control"
              type="text" id="global-send"
              placeholder="Send message to all online users..."
              autocomplete="off">
            <div class="position-absolute valid-feedback">
              Let's go global bitch!!!
            </div>
            <div class="position-absolute invalid-feedback">
              Message to peasants must be between 3 and 50 char
            </div>
          </div>
        </div>
      </form>
      <button [disabled]="!globalMsgForm.valid" (click)="goGlobal()" type="button" class="btn btn-info d-flex">
        <span class="mr-1 material-icons">send</span>Send
      </button>
    </div>
    <div class="counter d-flex align-items-center justify-content-center">
      <div class="d-flex flex-column flex-grow-1 justify-content-center align-items-center">
        <p>Online users</p>
        <i [@icon]="onlineUsersCount" class="material-icons">
          accessibility_new
        </i>
      </div>
      <div class="flex-grow-1 d-flex justify-content-start align-items-center">
        <span [@countAnimation]="onlineUsersCount">{{onlineUsersCount}}</span>
      </div>
    </div>
  </section>
  <section class="bottom-part">
    <div class="d-flex flex-wrap justify-content-center align-items-center">
      <app-user-subscriptions-info-box @usersDeleteAnimation (userId)="deleteUser($event)" *ngFor="let user of users" [user]="user"></app-user-subscriptions-info-box>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      Not implemented activity log ..
    </div>
  </section>
</main>
