main {
  padding-top: 50px;

  app-connections-tab {
    top: 120px;
    padding-left: 50px;
  }

  .news-feed-section {
    width: 42%;
    border-left: rgba(214, 214, 214, 0.86) dashed 1.5px;
    border-right: rgba(214, 214, 214, 0.86) dashed 1.5px;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    padding: 50px 65px;
  }

  .chat-box-section {
    width: 33%;

    app-comment-box {
      width: 28%;
      top: 120px;
    }
  }
}
