<main class="d-flex justify-content-center" (window:scroll)="closeCommentBox()">
  <section class="w-25">
    <app-connections-tab class="w-25 position-fixed" [subscribers]="subscribers" [subscriptions]="subscriptions" (userId)="unsubscribe($event)" (connectionType)="getConnections($event)"></app-connections-tab>
  </section>
  <section class="news-feed-section d-flex justify-content-center align-items-center flex-column">
    <div class="a-box">
      <app-alert (hide)="goToTop($event)" [hidden]="alertNotify"></app-alert>
    </div>
    <div
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="400"
      [infiniteScrollDisabled]="disabler"
      (scrolled)="onScroll()"
    >
      <app-post-view (postId)="showCommentTrigger($event)"  *ngFor="let post of newPosts"  [post]="post"></app-post-view>
      <app-post-view (postId)="showCommentTrigger($event)"  *ngFor="let post of posts"  [post]="post"></app-post-view>
      <div class="row">
        <div class="col-md-12 p-3">
          <ngx-spinner
            name="load-more-spinner"
            bdColor="rgba(253, 253, 253, 0)"
            size = "default"
            color = "black"
            type = "ball-elastic-dots"
            [fullScreen] = "false"
          >
          </ngx-spinner>
        </div>
      </div>
    </div>
  </section>
  <section class="chat-box-section">
    <app-comment-box class="position-fixed" *ngIf="commentBoxTrigger" [userInfo]="loggedUser" [postId]="commentBoxTrigger"></app-comment-box>
  </section>
</main>
