<section class="d-flex justify-content-between align-items-center w-100">
  <div class="d-flex justify-content-between align-items-center">
    <img class="rounded-circle" [src]="user.userAvatarUrl" alt="avatar">
    <span>{{user.userName}}</span>
  </div>
  <a class="d-flex justify-content-between align-items-center" [routerLink]="['/users/profile', user.userId]">
    <i class="material-icons">
      person_search
    </i>
  </a>
</section>

