<main class="pointer-type1" (clickOutside)="notificationNullify()">
  <section [ngClass]="{'shake-slow shake-constant shake-constant--hover': alert && notificationsNumber > 0}"
    class="position-relative user-select-none" (click)="showNotifications()">
    <svg class="bi bi-bell user-select-none" width="1.5em" height="1.5em" viewBox="0 0 16 16" [ngStyle]="{fill: alert && notificationsNumber > 0 ? 'red' : 'white'}"
         xmlns="http://www.w3.org/2000/svg">-->
      <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2z"/>
      <path fill-rule="evenodd"
            d="M8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
    </svg>
    <span *ngIf="notificationsNumber !== 0" [@countAnimation]="notificationsNumber" class="notification-counter position-absolute">{{notificationsNumber}}</span>
  </section>
  <div [hidden]="isShown">
    <div id="notification-container" class="d-flex flex-column align-items-center position-absolute">
      <div id="arrow-up"></div>
      <div class="inner-notification-container h-auto bg-white">
        <div class="no-notification-text w-100 font-weight-bolder d-flex justify-content-center align-items-center" *ngIf="notificationsNumber === 0;">
          You have no new notifications
        </div>
          <app-notification-box (notificationId)="markAsRead($event)" *ngFor="let notification of notifications;let i = index" [notification]="notification" [index]=i></app-notification-box>
      </div>
    </div>
  </div>
</main>



