.notification-counter {
  top: -2px;
  left: 14px;
  background-color: #d4130d;
  color: #fff;
  border-radius: 45%;
  padding: 1px 4px;
  font: 11px Verdana;
}

.fake-notification {
  font: 10px Arial;
  margin-top: 50px;
}

svg {
  transition: fill 1s ease;
}


#notification-container {
  top: 40px;
  left: -138px;

  #arrow-up {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid black;
  }

  .inner-notification-container {
    box-shadow: 0 5px 15px rgba(0.5, 0.5, 0.5, 0.4);
    width: 300px;
    max-height: 350px;
    overflow: auto;
    color: #555555;
    border: 1px black solid;
    border-radius: 5%;

    &::-webkit-scrollbar {
      display: none;
    }

    .no-notification-text {
      height: 50px;
      border-bottom: 0.5px solid black;
    }
  }
}

