app-navbar {
  position: fixed;
  width: 100%;
  z-index: 1050;
}
#router {
  max-width: 100%;
  overflow: hidden;
}

app-toasts {
  margin-top: 60px;
  z-index: 100002;
}

app-chat {
  right: 0;
  position: fixed;
  top: 31%;
  height: 440px;
  width: 520px;
  z-index: 400;
}

@media only screen and (max-width: 520px) {
  .chat-container {
    width: 100%;
  }
}
