<main>
  <app-navbar></app-navbar>
  <div id="router">
    <ngx-spinner bdColor="rgba(255,255,255,0.86)" size="medium" color="#250606" fullScreen="true" type="ball-spin-clockwise-fade-rotating"><p
      style="color: white"> Loading... </p>
    </ngx-spinner>
    <div [@routerTransition]="getState(o)">
      <router-outlet #o="outlet"></router-outlet>
    </div>
  </div>
  <app-scroll-top-button></app-scroll-top-button>

</main>
<app-chat *ngIf="loggedUser" (bool)="toggle($event)" [isOpen]="isOpen" [@openClose]="isOpen ? 'open' : 'closed'" class="chat-container"></app-chat>
<app-toasts></app-toasts>


