main {
  padding-top: 80px;
  #user-info {
    margin-bottom: 20px;
    border-radius: 20px;
    width: 60%;
    backdrop-filter: blur(2px);

    h3, h5, p {
      margin: 0;
    }

    div:last-child {
      flex-grow: 1;
      text-align: center;
      margin-top: 10px;
      button {
        box-shadow: 0 5px 10px rgba(0.5, 0.5, 0.5, 0.4);
      }
    }

      img {
        border: 2px white solid;
        border-radius: 50%;
        height: 120px;
        margin: 0 10px;
        max-width: 120px;
        box-shadow: 0 5px 15px rgba(0.5, 0.5, 0.5, 0.4);
      }
  }

  #post-info {
    width: 80%;

    .post-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;

      app-profile-post-view {
        margin: 10px;
        width: 325px;
      }
    }

    .connections-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      app-user-subscribers-info-box, app-user-subscriptions-info-box {
        width: 380px;
      }

    }

    .empty-arr-text {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 80px;
      font-weight: bolder;
      font-size: 1.3em;
    }
  }
}
