<main class="w-100 d-flex justify-content-center align-items-center flex-column">
  <div id="user-info" class="d-flex flex-wrap align-items-center justify-content-center">
    <div class="avatar">
      <img [src]="currentUser.userAvatarUrl" alt="avatar">
    </div>
    <div>
      <h3>{{currentUser.userName}}</h3>
      <h5>
        <svg width="1.1em" height="1.1em" viewBox="0 0 16 16" class="bi bi-mailbox2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M12 3H4a4 4 0 0 0-4 4v6a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V7a4 4 0 0 0-4-4zM8 7a3.99 3.99 0 0 0-1.354-3H12a3 3 0 0 1 3 3v6H8V7zm1 1.5h2.793l.853.854A.5.5 0 0 0 13 9.5h1a.5.5 0 0 0 .5-.5V8a.5.5 0 0 0-.5-.5H9v1zM4.585 7.157C4.836 7.264 5 7.334 5 7a1 1 0 0 0-2 0c0 .334.164.264.415.157C3.58 7.087 3.782 7 4 7c.218 0 .42.086.585.157z"/>
        </svg>  {{currentUser.email}}</h5>
      <p>{{currentUser.userBio}}</p>
    </div>
    <div>
      <button *ngIf="checkSub() && currentUser.userId !== loggedUser.userId" class="btn custom-button"
              (click)="connectionsActionA(currentUser.userId)">Subscribe
      </button>
      <button *ngIf="!checkSub() && currentUser.userId !== loggedUser.userId" class="btn custom-button"
              (click)="connectionsActionB(currentUser.userId)">Unsubscribe
      </button>
    </div>
  </div>
  <div id="post-info">
    <nav ngbNav #nav="ngbNav" [(activeId)]="active" (activeIdChange)="load($event)" class="nav-pills justify-content-center">
      <ng-container ngbNavItem domId="public" destroyOnHide="true" >
        <a ngbNavLink>Public</a>
        <ng-template ngbNavContent>
          <div *ngIf="postsPublic.length === 0; else publicPu" class="empty-arr-text">
            User has no public posts!
          </div>
          <ng-template  #publicPu>
            <div class="post-container">
              <app-profile-post-view [post]="post" [user]="currentUser" *ngFor="let post of postsPublic"></app-profile-post-view>
            </div>
          </ng-template>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem domId="private" [disabled]="disable()" destroyOnHide="true">
        <a ngbNavLink>Private</a>
        <ng-template ngbNavContent>
          <div *ngIf="postsPrivate.length === 0; else publicPr" class="empty-arr-text">
            User has no private posts!
          </div>
          <ng-template #publicPr>
            <div class="post-container">
              <app-profile-post-view [post]="post" [user]="currentUser" *ngFor="let post of postsPrivate"></app-profile-post-view>
            </div>
          </ng-template>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem domId="liked" [disabled]="disable()" destroyOnHide="true">
        <a ngbNavLink>Liked</a>
        <ng-template ngbNavContent>
          <div *ngIf="likedPosts.length === 0; else liked" class="empty-arr-text">
            User has not any liked posts!
          </div>
          <ng-template #liked>
            <div class="post-container">
              <app-profile-post-view [post]="post" [user]="post.postedBy"
                                     *ngFor="let post of likedPosts"></app-profile-post-view>
            </div>
          </ng-template>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem domId="subscribers" [disabled]="disable()" destroyOnHide="true">
        <a ngbNavLink>Subscribers</a>
        <ng-template ngbNavContent>
          <div *ngIf="subscribers.length === 0; else subs1" class="empty-arr-text">
            User has no subscribers!
          </div>
          <ng-template #subs1>
            <div class="connections-container">
              <app-user-subscribers-info-box [user]="user" *ngFor="let user of subscribers"></app-user-subscribers-info-box>
            </div>
          </ng-template>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem domId="subscriptions" [disabled]="disable()" destroyOnHide="true">
        <a ngbNavLink>Subscriptions</a>
        <ng-template ngbNavContent>
          <div *ngIf="subscriptions.length === 0; else subs2" class="empty-arr-text">
            User has no subscriptions!
          </div>
          <ng-template #subs2>
            <div class="connections-container">
              <app-user-subscriptions-info-box [buttonBool]="buttonBool" [user]="user"
                                               *ngFor="let user of subscriptions"></app-user-subscriptions-info-box>
            </div>
          </ng-template>
        </ng-template>
      </ng-container>
    </nav>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</main>
