<main class="inner-div">
  <section class="post-comment d-flex">
    <img class="image-container rounded-circle img-thumbnail"
         [src]="userInfo.userAvatarUrl"
         alt="avatar">
    <div class="w-100">
      <form [formGroup]="commentForm">
        <textarea placeholder=" Write comment..."
                  formControlName="commentContent"
                  class="form-control w-10 scrollbar"
                  aria-label="With textarea"
                  autocomplete="off">
        </textarea>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Length must be between 15 and 400 characters!
        </div>
        <button class="btn float-right text-white text-center d-inline-block" (click)="addComment()" [disabled]="!commentForm.valid">Comment</button>
      </form>
    </div>
  </section>
  <div *ngIf="spinner" class="d-flex justify-content-center">
    <div class="spinner-border text-info" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <section class="scrollbar h-auto comments-container">
    <div class="text-center mt-4" *ngIf="comments?.length == 0">
      <h4>Be the first to comment!</h4>
    </div>
    <div @commentAnimation  *ngFor="let comment of comments">
      <div class="d-flex mt-2">
        <img class="image-container rounded-circle"
             [src]="comment.commentedBy.userAvatarUrl"
             alt="avatar">
        <div class="w-100">
          <p class="username">{{comment.commentedBy.userName}}<span>{{comment.createdOn | date}}</span>
            <i *ngIf="userInfo.userName === comment.commentedBy.userName" (click)="removeComment(comment.commentId)" class="material-icons">
              remove_circle_outline
            </i>
          </p>
          <p class="content">{{comment.commentContent}}</p>
        </div>
      </div>
    </div>
  </section>
</main>
