.inner-div {
  padding-left: 10px;
  backdrop-filter: blur(2px);

  .image-container {
    margin-right: 10px;
    border: solid #000062;
    height: 50px;
    width: 50px;
  }

  .post-comment {
    height: 90px;

    div {
      textarea {
        background-color: transparent;
        height: 50px;
        resize: none;
        border: 0.5px solid black;
        border-radius: 5px;
        font-size: 14px;
        outline: none;
        margin-bottom: 2px;
      }

      button {
        margin-right: 10px;
        padding: 4px 15px;
        background-color: #09f;
        border: 1px solid #09f;
        border-radius: 3px;
        font: 700 13px/20px Helvetica Neue, Arial, Helvetica, Geneva, sans-serif;
        cursor: pointer;
        text-decoration: none;
        -webkit-appearance: none;
        outline: none;
      }

      button:hover {
        background-color: #08d;
        border-color: #08d;
      }
    }
  }

  .comments-container {
    max-height: 500px;
    overflow: auto;
    word-break: break-all;

    .username {
      font-size: 15px;
      font-weight: 700;
      color: #000;
      margin: 0;

      span {
        margin-left: 5px;
        font-size: 12px;
        line-height: 20px;
        color: #999;
      }

      i {
        float: right;
        font-size: 23px;
        color: #ff312a;
      }
    }

    .content {
      line-height: normal;
      font-size: 14px;
      font-weight: 500;
      font-family: 'Roboto', sans-serif;
    }
  }
}

