<article>
  <div class="card">
    <div class="imgBx">
      <img
        [src]="post.photoUrl" alt="images">
    </div>
    <div class="details">
      <blockquote class="blockquote text-center">
        <p class="mb-0 text-truncate">{{post.title}}</p>
        <footer class="blockquote-footer">
          <cite title="Source Title">
          <span>{{post.postedBy.userName}}
            <img class="rounded-circle"
              [src]="post.postedBy.userAvatarUrl"
              alt="avatar">
            </span>
          </cite>
        </footer>
      </blockquote>
    </div>
  </div>
</article>
