div {
  background-color: #09f;
  border: 1px solid #09f;
  text-decoration: none;
  width: 190px;
  height: 40px;
  border-radius: 30px 30px 30px 30px;

  span {
    font-size: 1.1rem;
  }
}

.div:hover {
  background-color: #08d;
  border-color: #08d;
}
