.outer {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  .inner-div {
    color: #72767d;
    background-color: #36393f;
    width: 56%;
    height: 56%;
    border-color: rgba(11, 4, 6, 0.94);
    border-style: solid;
    border-radius: 10px;

    section {
      height: 100%;
    }

    #alert-info {
      width: 300px;
      right: 10px;
      top: 10px;
    }

    .input-section {
      flex-grow: 5;

      form {
        width: 80%;
        margin: 20px 0;
        .form-group label {
          font-size: 0.8em;
        }
      }

      h1 {
        font-size: 24px;
        font-weight: 600;
        font-variant: small-caps;
        font-family: Apple Chancery, cursive;
        margin-bottom: 2px;
      }
      span {
        font-size: 0.8em;
        font-family: Apple Chancery, cursive;
      }

    }

    .img-section {
      flex-grow: 1;
    }
  }
}

.avatar {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border: 2.5px rgba(11, 4, 6, 0.94) solid;
  overflow: hidden;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

// Flip button css
.tgl {
  display: none;

  // add default box-sizing for this scope
  &,
  &:after,
  &:before,
  & *,
  & *:after,
  & *:before,
  & + .tgl-btn {
    box-sizing: border-box;
    &::selection {
      background: none;
    }
  }

  + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    user-select: none;
    &:after,
    &:before {
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
    }

    &:after {
      left: 0;
    }

    &:before {
      display: none;
    }
  }

  &:checked + .tgl-btn:after {
    left: 50%;
  }
}
.tgl-flip {
  + .tgl-btn {
    padding: 2px;
    transition: all .2s ease;
    font-family: sans-serif;
    perspective: 100px;
    &:after,
    &:before {
      display: inline-block;
      transition: all .4s ease;
      width: 100%;
      text-align: center;
      position: absolute;
      line-height: 2em;
      font-weight: bold;
      color: #fff;
      top: -3px;
      left: 0;
      backface-visibility: hidden;
      border-radius: 4px;
    }

    &:after {
      content: attr(data-tg-on);
      background: #02C66F;
      transform: rotateY(-180deg);
    }

    &:before {
      background: #FF3A19;
      content: attr(data-tg-off);
    }

    &:active:before {
      transform: rotateY(-20deg);
    }
  }

  &:checked + .tgl-btn {
    &:before {
      transform: rotateY(180deg);
    }

    &:after {
      transform: rotateY(0);
      left: 0;
      background: #7FC6A6;
    }

    &:active:after {
      transform: rotateY(20deg);
    }
  }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0 rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
