<div class="outer vh-100 d-flex justify-content-center align-items-center">
  <div class="inner-div position-relative d-flex card-1">
    <div *ngIf="popUpState" id="alert-info" class="alert alert-danger position-absolute text-center" role="alert">
      {{wrongInfo}}
    </div>
    <section class="input-section d-flex justify-content-center align-items-center flex-column">
      <h1 class="text-white">Welcome back!</h1>
      <span>We are excited to see you again!</span>
      <form [formGroup]="this.loginForm">
        <div class="form-group">
          <label for="usernameOrEmail">Email or username</label>
          <input formControlName="usernameOrEmail"
                 class="form-control"
                 type="text" id="usernameOrEmail" aria-describedby="emailHelp"
                 placeholder="Enter email or username"
                 autocomplete="off">
          <div class="valid-feedback">
            Looks good!
          </div>
          <div *ngIf="loginForm.controls.usernameOrEmail.errors?.minlength || loginForm.controls.usernameOrEmail.errors?.maxlength" class="invalid-feedback">
            Length must be between 3 and 50 characters!
          </div>
          <div *ngIf="loginForm.controls.usernameOrEmail.errors?.loginAsyncValidator" class="invalid-feedback">
            There is no user with such email or username!
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword1">Password</label>
          <input formControlName="password"
                 type="password"
                 class="form-control"
                 id="inputPassword1"
                 placeholder="Password">
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            The password must be minimum eight characters, one letter and one number!
          </div>
        </div>
        <button class="custom-button btn-block btn" [disabled]="!loginForm.valid" (click)="login()">Login</button>
        <span id="need-account">Need an account? <a routerLink="/register">Register</a></span>
      </form>
      <div class="d-flex justify-content-center">
        <div class="mr-2">Remember me?</div>
        <input [(ngModel)]="bool" class="tgl tgl-flip" id="cb5" type="checkbox"/>
        <label class="tgl-btn" data-tg-off="Nope" data-tg-on="Yeah!" for="cb5"></label>
      </div>
    </section>
    <section class="img-section d-flex justify-content-start">
      <div class="d-flex align-items-center">
        <img class="avatar rounded-circle"
             [src]="fistTimeImgURl"
             alt="avatar">
      </div>
    </section>
  </div>
</div>
