.unread-background {
  background-color: #ececec;
}

.container-n-box {
  padding: 5px 5px;
  border-top: 0.5px solid black;
  height: 60px;

  &:hover {
    background-color: #e0e0e0  ;
  }

  .img-user-avatar {
    width: 45px;
    height: 45px;
  }

  .opt-img-post{
    border-radius: 30%;
    width: 35px;
    height: 35px;
    outline: none;
  }

  p, .time-container {
    margin: 0 4px ;
    font-size: 0.8em;

    i {
      font-size: 1.1em;
      line-height: normal;
    }
  }
  .time-container {
    span {
      margin-left: 5px;
    }
  }
}

.first {
  border-top: none;
}
