<div (click)="readNotification()"
  [class.unread-background]="!notification.read"
  class="d-flex justify-content-start align-items-center w-100 container-n-box" [class.first]="index === 0">
  <img class="img-user-avatar rounded-circle" [src]="notification.notifiedBy.userAvatarUrl" alt="avatar">
  <section>
    <p class="text-break align-middle">
      <a [routerLink]="['/users/profile', notification.notifiedBy.userId]"
         class="font-weight-bold text-uppercase">{{notification.notifiedBy.userName}}</a>
      {{notification.message}}
    </p>
    <div class="align-middle time-container d-flex align-items-center">
      <i class="material-icons">
        access_time
      </i>
      <span> {{notification.createdOn | amTimeAgo}}</span>
    </div>
  </section>
  <img class="opt-img-post ml-auto" [routerLink]="['/posts/', notification.optionalInfo.id]"
       *ngIf="notification.type === 'post'" [src]="notification.optionalInfo.imgUrl" alt="avatar">
</div>
