<div class="modal-header">
  <h4 class="modal-title">Create post!</h4>
</div>
<div class="modal-body">
  <div class="d-flex justify-content-center">
    <label class="switch d-block position-relative">
      <input class="d-none" type="checkbox" [(ngModel)]="bool" [checked]="bool">
      <span>
            <em></em>
            <strong></strong>
        </span>
    </label>
  </div>
  <form [formGroup]="this.uploadForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Title</label>
      <input type="text"  formControlName="title" class="form-control" id="exampleInputEmail1" aria-describedby="title" autocomplete="off">
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Length must be between 4 and 40 characters!
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Description</label>
      <input type="text" formControlName="description" class="form-control" id="exampleInputPassword1" autocomplete="off">
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Length must be between 20 and 200 characters!
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="custom-file">
          <input type="file" (change)="onChange($event)" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
          <label class="custom-file-label" for="inputGroupFile04">{{this.photoUrl}}</label>
        </div>
        <div class="input-group-append" (click)="uploadPicture()">
          <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Save</button>
        </div>
      </div>
    </div>
  </form>
    <p class="text-center">
      <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
        Choose location
      </button>
    </p>
    <div id="collapseExample" [ngbCollapse]="isCollapsed">
      <div class="text-center w-100">
        <google-map width="100%" [options]="options" (mapClick)="addMarker($event)">
          <map-marker [options]="markerOptions" [position]="markerPosition"></map-marker>
        </google-map>
      </div>
    </div>
</div>
<div class="modal-footer">
  <button [disabled]="!uploadForm.valid" type="button"  class="btn btn-outline-dark" (click)="uploadPost()">Upload</button>
</div>
