#spinner1, #spinner2 {
  position: absolute;
  bottom: 7px;
  right: 9px;
}

.outer {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  .inner-div {
    color: #72767d;
    background-color: #36393f;
    width: 490px;
    border-color: rgba(11, 4, 6, 0.94);
    border-style: solid;
    border-radius: 10px;
    padding: 20px 0;

    form {
      div {
        position: relative;
      }
      width: 80%;
      margin: 20px 0;

      .form-group label {
        font-size: 0.8em;
      }
    }

    h1 {
      font-size: 24px;
      font-variant: small-caps;
      font-family: Apple Chancery, cursive;
      margin-bottom: 2px;
    }
  }
}
