<div class="outer vh-100 d-flex justify-content-center align-items-center">
  <div class="inner-div card-1 d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-white font-weight-bolder">Create an account</h1>
    <form [formGroup]="this.registerForm">
      <div class="form-group">
        <div *ngIf="registerForm.controls.userName.pending" id="spinner1"
             class="spinner-border spinner-border-sm text-info" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <label for="exampleInputEmail1">Username</label>
        <input formControlName="userName"
               type="email"
               class="form-control form-control-sm"
               id="exampleUsername"
               placeholder="Enter username"
               autocomplete="off"
        >
        <div class="valid-feedback">
          Looks good!
        </div>
        <div
          *ngIf="registerForm.controls.userName.errors?.minlength || registerForm.controls.userName.errors?.maxlength"
          class="invalid-feedback">
          Length must be between 3 and 20 characters!
        </div>
        <div *ngIf="registerForm.controls.userName.errors?.usernameAsyncValidator" class="invalid-feedback">
          User name already taken!
        </div>
      </div>
      <div class="form-group">
        <div *ngIf="registerForm.controls.email.pending" id="spinner2"
             class="spinner-border spinner-border-sm text-info" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <label for="exampleInputEmail1">Email</label>
        <input formControlName="email"
               type="email"
               class="form-control
                form-control-sm"
               id="exampleInputEmail1"
               aria-describedby="emailHelp"
               placeholder="Enter email"
               autocomplete="off"
        >
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Length must be between 10 and 50 characters!
        </div>
        <div *ngIf="registerForm.controls.email.errors?.email" class="invalid-feedback">
          Not valid email format
        </div>
        <div *ngIf="registerForm.controls.userName.errors?.emailAsyncValidator" class="invalid-feedback">
          Email name already taken!
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input formControlName="password"
               type="password"
               class="form-control form-control-sm"
               id="exampleInputPassword1"
               placeholder="Password">
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          The password must be minimum eight characters, one letter and one number!
        </div>
      </div>
      <div class="form-group">
        <div class="input-group ">
          <div class="input-group-prepend">
            <span class="input-group-text">Bio</span>
          </div>
          <textarea formControlName="userBio"
                    class="form-control"
                    aria-label="With textarea"
                    autocomplete="off">
          </textarea>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Length must be between 10 and 200 characters!
          </div>
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="custom-file bg-primary">
          <input (change)="onChange($event)" type="file" class="custom-file-input" id="inputGroupFile02">
          <label class="custom-file-label text-truncate" for="inputGroupFile02"
                 aria-describedby="inputGroupFile">{{this.userAvatarUrl}}</label>
        </div>
        <div class="input-group-append" (click)="uploadPicture()">
          <span class="input-group-text" id="inputGroupFileAddon02">Upload</span>
        </div>
      </div>
      <button [disabled]="!registerForm.valid" class="custom-button btn-block btn" (click)="register()">Register
      </button>
      <span id="need-account">Already have an account? <a routerLink="/login">Login</a></span>
    </form>
  </div>
</div>
